<div id="basket">
  <h1>In my fruit basket:</h1>
  <ul>
    <li>
      <span>🍌</span>
      <span>🍌</span>
    </li>
  </ul>
</div>

<!-- 1. Use a for loop to display all the types of items in the basket (replace the banana emoji by the type property of each item)-->
<!-- 2. Use a second for loop to display as many emojis of each item as indicated by their quantity (for instance 11 apple emojis)-->
<!-- Bonus: An intruder is in the fruit basket, hide the corn -->

<!-- TIP1: Changes should only be done in this file -->
<!-- TIP2: Think about the semantic of html, what do ul and li stand for semantically? Which one should be repeated? -->
<!-- TIP3: You can use the $index variable to track the index of the current iteration if there no unique identifier available -->
<!-- TIP4: If you have to repeat an element n number of times, use the array constructor to derive an array from the number of times [].constructor(n) -->
